<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_bt_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,759},{141,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,45}}</string>
                <key>sourceSize</key>
                <string>{141,45}</string>
            </dict>
            <key>act_bt_dh.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,616},{141,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,45}}</string>
                <key>sourceSize</key>
                <string>{141,45}</string>
            </dict>
            <key>act_bt_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,840},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>act_bt_iknow.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,125},{237,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{237,82}}</string>
                <key>sourceSize</key>
                <string>{239,88}</string>
            </dict>
            <key>act_bt_unget.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,754},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>act_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{2,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,90}}</string>
                <key>sourceSize</key>
                <string>{2,90}</string>
            </dict>
            <key>act_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,227},{400,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,2}}</string>
                <key>sourceSize</key>
                <string>{400,2}</string>
            </dict>
            <key>act_title_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,616},{136,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{136,74}}</string>
                <key>sourceSize</key>
                <string>{200,92}</string>
            </dict>
            <key>alert_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,231},{304,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{304,383}}</string>
                <key>sourceSize</key>
                <string>{306,385}</string>
            </dict>
            <key>alert_bt_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,231},{126,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{126,56}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>header_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{640,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,121}}</string>
                <key>sourceSize</key>
                <string>{640,121}</string>
            </dict>
            <key>home_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,231},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>home_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,125},{420,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,100}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,945},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,945},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,945},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,968},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,948},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,948},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,948},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,922},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,880},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,838},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,796},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>loading_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,754},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{302,702}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,702}}</string>
                <key>sourceSize</key>
                <string>{306,704}</string>
            </dict>
            <key>menu_bt_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,294},{247,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,60}}</string>
                <key>sourceSize</key>
                <string>{247,60}</string>
            </dict>
            <key>menu_bt_blueline.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,231},{248,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,61}}</string>
                <key>sourceSize</key>
                <string>{248,61}</string>
            </dict>
            <key>msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>over_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{334,357}}</string>
                <key>sourceSize</key>
                <string>{336,359}</string>
            </dict>
            <key>passed.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,616},{264,178}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{264,178}}</string>
                <key>sourceSize</key>
                <string>{300,208}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,964},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>praise_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,665},{228,176}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{228,176}}</string>
                <key>sourceSize</key>
                <string>{300,208}</string>
            </dict>
            <key>praise_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{228,166}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,208}</string>
            </dict>
            <key>praise_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,843},{196,158}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,21},{196,158}}</string>
                <key>sourceSize</key>
                <string>{300,208}</string>
            </dict>
            <key>praise_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{230,170}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,17},{230,170}}</string>
                <key>sourceSize</key>
                <string>{300,208}</string>
            </dict>
            <key>praise_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,665},{212,160}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{212,160}}</string>
                <key>sourceSize</key>
                <string>{300,208}</string>
            </dict>
            <key>sound_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,926},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sound_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,902},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,882},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,929},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,882},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,863},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,797},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxxclc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,731},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxxclc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,665},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxxclc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,879},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxxclc4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,879},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xxxxxclc5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,879},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NewActs.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d4c9e2527e5c3f07c844797f09f7dd2:1/1$</string>
            <key>textureFileName</key>
            <string>NewActs.png</string>
        </dict>
    </dict>
</plist>
