<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,70}</string>
                <key>spriteSourceSize</key>
                <string>{303,70}</string>
                <key>textureRect</key>
                <string>{{144,0},{303,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,90}</string>
                <key>spriteSourceSize</key>
                <string>{394,90}</string>
                <key>textureRect</key>
                <string>{{0,160},{394,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,90}</string>
                <key>spriteSourceSize</key>
                <string>{394,90}</string>
                <key>textureRect</key>
                <string>{{0,70},{394,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,65}</string>
                <key>spriteSourceSize</key>
                <string>{144,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{144,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,322}</string>
                <key>spriteSourceSize</key>
                <string>{474,322}</string>
                <key>textureRect</key>
                <string>{{0,250},{474,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{474,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cabd2b3efca80ab1f5fa4b00a2992ba:a6ceb95059fe3b89081fd9f237f6f930:953d3665f264cda36fcc0ed6233f063a$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
