<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>button_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{261,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,86}}</string>
                <key>sourceSize</key>
                <string>{261,86}</string>
            </dict>
            <key>button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,0},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>button_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,0},{260,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,86}}</string>
                <key>sourceSize</key>
                <string>{260,86}</string>
            </dict>
            <key>cover_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,0},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>cover_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{245,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,173}}</string>
                <key>sourceSize</key>
                <string>{245,173}</string>
            </dict>
            <key>icon_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,173},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>icon_man_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,173},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_man_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,173},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_man_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,173},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_man_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,173},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_man_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,173},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_man_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,173},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,173},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>mi.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,173},{141,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,46}}</string>
                <key>sourceSize</key>
                <string>{141,46}</string>
            </dict>
            <key>over_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{243,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>prestart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,346},{181,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,213}}</string>
                <key>sourceSize</key>
                <string>{181,213}</string>
            </dict>
            <key>prestart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,346},{181,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,210}}</string>
                <key>sourceSize</key>
                <string>{181,210}</string>
            </dict>
            <key>prestart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,346},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>prestart_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,589},{243,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,232}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>progress_bot.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,589},{510,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,30}}</string>
                <key>sourceSize</key>
                <string>{510,30}</string>
            </dict>
            <key>progress_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,589},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>progress_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,821},{510,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,30}}</string>
                <key>sourceSize</key>
                <string>{510,30}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,821},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,821},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>waiting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,821},{142,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,203}}</string>
                <key>sourceSize</key>
                <string>{142,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pk.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bcf62c7107951af03abe347f2140490:1/1$</string>
            <key>textureFileName</key>
            <string>pk.png</string>
        </dict>
    </dict>
</plist>
